@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&family=Oswald&family=Parisienne&display=swap');

* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;

}

.fa-shopping-cart {
    margin-right: 5px;
    color: white;
}

.nav-item span {
    color: white;
    border-color: white;
    border-radius: 10px;
}



.navbar-brand {
    margin-left: 20px;
    font-family: 'Noto Sans KR', sans-serif;
}



.navbar-nav a {
    color: white!important;
    margin: 0 20px;
    margin-top: 10px;
}

.navbar-brand {
    color: white!important;
    
}

.navbar-toggler {
    color: white!important;
    border: none!important;
    outline: none!important;
}

.navbar-toggler .fas {
    color: white;
    font-size: 26px;
}

.nav-link:hover {
    font-weight: 600;
    border-bottom: 1px solid white;
    margin-bottom: -1px;
}

#header .btn {
    border: 1px solid white;
    margin-top: 20px;   
    padding: 6px 26px;
    font-size: 16px; 
}

.container {
    font-family: 'Noto Sans KR', sans-serif;
}


a {
    color: rgba(97, 53, 42, 0.671);
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 60%;
}


@media (min-width: 300px) { 
    .navbar {
        background-color: rgba(0, 0, 0, 0.829);
    }

    .container h1 {
        font-size: 50px;
    }

    .container {
        margin-top: 100px;
    }

    .intro {
        padding-top: 20px;
    }

    .card-body {
        align-self: center;
        text-align: center;
        line-height: 18px;
    }

    .card {
        border: none;
    }

    footer {
        background: rgba(0, 0, 0, 0.829);
        color: #ffffff;
        padding-top: 2rem;
    }

    .social a {
        font-size: 1.5em;
        padding-left: 10px;
        color:white;
    }
    
    .social {
        margin-bottom: 5px;
    }

    footer h2 {
    font-family: 'Parisienne', cursive;
    font-size: 43px;
    }   

    footer {
        margin-top: 200px;
    } 
 }

@media (min-width: 768px) { 
      
    
    .navbar {
        background-color: rgba(0, 0, 0, 0.829);
    }
        
    .container h1 {
        font-size: 50px;
    }

    .container {
        margin-top: 100px;
    }

    .intro {
        padding-top: 20px;
    }

    .card-body {
        align-self: center;
        text-align: center;
        line-height: 18px;
    }

    .card {
        border: none;
    }

    .social a {
        font-size: 1.5em;
        padding-left: 10px;
        color:white;
    }
    
    .social {
        margin-bottom: 5px;
    }

    footer h2 {
    font-family: 'Parisienne', cursive;
    font-size: 43px;
    }   

    footer {
        margin-top: 200px;
    } 



 }
        

@media (min-width: 992px) { 
    .navbar {
        background-color: rgba(0, 0, 0, 0.692);
    }

    .container h1 {
        font-size: 50px;
    }

    .container {
        margin-top: 100px;
    }

    .intro {
        padding-top: 20px;
    }

    .card-body {
        align-self: center;
        text-align: center;
        line-height: 10px;
    }

    .card {
        border: none;
    }

    .social a {
        font-size: 1.5em;
        padding-left: 10px;
        color:white;
    }
    
    .social {
        margin-bottom: 5px;
    }

    footer h2 {
    font-family: 'Parisienne', cursive;
    font-size: 43px;
    }   

    footer {
        margin-top: 200px;
    } 

 }

@media (min-width: 1200px) { 
    .navbar {
        background-color: rgba(0, 0, 0, 0.692);
    }

    .container h1 {
        font-size: 50px;
    }


    .container {
        margin-top: 85px;
    }

    .intro {
        padding-top: 20px;
    }

    .card-body {
        align-self: center;
        text-align: center;
        line-height: 10px;
    }

    .card {
        border: none;
    }

    .btn {
        max-width: 250px;
        margin-bottom: 12px;
    }

    .social a {
        font-size: 1.5em;
        padding-left: 10px;
        color:white;
    }
    
    .social {
        margin-bottom: 5px;
    }

    footer h2 {
    font-family: 'Parisienne', cursive;
    font-size: 43px;
    }   

    footer {
        margin-top: 200px;
    }
 }


 }