@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&family=Oswald:wght@400;500&display=swap');

* {
    margin: 0px;
    padding: 0px;

}


.jumbotron {
    background-image: url(bt2.png);
    height: 100vh;
    background-size:cover;
    background-position: center;
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
    border-radius: 0px!important;
}

.fa-shopping-cart {
    margin-right: 5px;
    color: white;
}

.navbar-brand {
    margin-left: 20px;
    font-family: 'Noto Sans KR', sans-serif;
}



.navbar-nav a {
    color: white!important;
    margin: 0 20px;
    margin-top: 10px;
}

.navbar-brand {
    color: white!important;
    
}

.navbar-toggler {
    color: white!important;
    border: none!important;
    outline: none!important;
}

.navbar-toggler .fas {
    color: white;
    font-size: 26px;
}

.nav-link:hover {
    font-weight: 600;
    border-bottom: 1px solid white;
    margin-bottom: -1px;
}

#header .btn {
    border: 1px solid white;
    margin-top: 20px;   
    padding: 6px 26px;
    font-size: 16px; 
}



    /* Extra small devices (portrait phones, less than 576px)
 No media query for `xs` since this is the default in Bootstrap

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 300px) { 
    .navbar {
        background-color: rgba(0, 0, 0, 0.034);
    }

    .jumbotron h1 {
        font-size: 40px;
        line-height: 1;
    }

    .intro {
        padding-top: 100px;
        margin-bottom: 25px;
    }

    .container h1 {
        font-size: 55px;
        text-align: center;
        font-family: 'Oswald', sans-serif;    
    }

    .container p {
        font-size: 13px;
        text-align:center;
    }


    .container {
        margin-top: 85px;
    }

    .card img {
        max-width: 150px;
        align-self: center;
    }

    .card {
        border: none;
    }

    .card-body h2 {
        text-align: center;
    }

    .card p {
        text-align: center;
    }


}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .jumbotron h1 {
        margin: 40px 0;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 80px;
        line-height: 40px;
    }
    
    .intro {
        padding-top: 260px;
    }
    
    .navbar {
        background-color: rgba(0, 0, 0, 0.829);
        box-shadow: 10px;
    }
    
    .container h1 {
        font-size: 65px;
        font-family: 'Oswald', sans-serif;    
    }

    .container {
        margin-top: 85px;
    }

    .container p {
        font-size: 12px;
        text-align: left;
    }

    .card img {
        max-width: 150px;
        align-self: center;
    }

    .card {
        border: none;
    }

    .card-body h2 {
        text-align: center;
    }

    .card p {
        text-align: center;
    }


 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .jumbotron h1 {
        margin: 40px 0;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 80px;
        line-height: 40px;
    }
    
    .intro {
        padding-top: 260px;
    }
    
    .navbar {
        background-color: rgba(0, 0, 0, 0.692);
    }
    
    .container h1 {
        font-size: 90px;
        font-family: 'Oswald', sans-serif;    
    }

    .container p {
        font-size: 16px;
        text-align: left;
    }

    .container {
        margin-top: 85px;
    }


    .card img {
        max-width: 150px;
        align-self: center;
    }

    .card {
        border: none;
    }

    .card-body h2 {
        text-align: center;
    }

    .card p {
        text-align: center;
    }


}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .jumbotron h1 {
        margin: 40px 0;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 80px;
        line-height: 40px;
    }
    
    .intro {
        padding-top: 260px;
    }
    
    .navbar {
        background-color: rgba(0, 0, 0, 0.692);
    }

    .container h1 {
        font-size: 90px;
        font-family: 'Oswald', sans-serif;    
        text-align: left;
    }

    .container img {
        max-width: 490px;
    }

    .container p {
        font-size: 16px;
    }

    .container {
        margin-top: 85px;
    }

    .card img {
        max-width: 150px;
        align-self: center;
    }

    .card {
        border: none;
    }

    .card-body h2 {
        text-align: center;
    }

    .card p {
        text-align: center;
    }

 }


















 /*

    .DDT {
        margin-top: 100px;
        }



    .about-container {
        margin-top: 120px;
    }
    
    .container h1 {
        font-size: 75px;
        font-family: 'Oswald', sans-serif;    
        margin-bottom: 0;
    }

    .container p {
        font-family: 'Oswald', sans-serif;    
    }

    .image {
        max-width: 500px;
    }


    .bbt {
        min-width: 250px;
        align-self: center;
    }

    .card-body {
        text-align: center;
        }

    .card {
        border: none;
    }


    .trending {
        margin-top: 120px;
    }


    .eat {
        margin-top: 120px;
    }

    .icon {
        max-width: 130px;
        max-height: 90px;
        align-self:center;
    }

    .card-body h2 {
        font-size: 35px;
    }
